<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
      <h1>GameBook</h1>
      <div>
        <ol>
            <li>Home</li>
            <li>Forums</li>
            <li>Search</li>
            <li>Fill In Later</li>
        </ol>
      </div>
    </header>
    {{{ body }}}
</body>
</html>