<div id="game">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is where a blurb about the game to be reviewed will go</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div id="reviewBox">
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Review:</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</div>